/* Padrão */
html,body{
    margin:0;
    padding: 0;
    direction: ltr;
    overflow-y: hidden;
    color:black;
    font-family: 'Source Code Pro', monospace;
}
/* Fundo */
.fundo{
    width:200vw;
    height: 100vh;
    position: relative;
    background-color: white;
}
/* conteudo principal */
.minhas-informacoes{
    height:80vh;
    width:25vw;
    margin:10vh;
    position: relative;
    float: left;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.lado-infomracoes{
    position: absolute;
    transform-style: preserve-3d;
    background-color: #aaa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: -10px 10px  20px #101010;
    transition: .5s ease-in-out;
    transform: perspective(1000px) rotateY(0deg);
    text-align: center;
}
.informacoes-tras{
    transform: perspective(1000px) rotateY(180deg);
    font-size: 1rem;

}
#minha-imagem{
    position: relative;
    border-radius: 50%;
    transform: scale(0.8)
    translateY(300px);
    opacity:0;
    animation: aparecerImagem 1s 6s forwards;
}
#phone{
    height: 15px;
    width:15px;
    margin-right:5px;
}
#mail{
    height: 15px;
    width:20px;
    margin-right:5px;
}
#github{
    height: 20px;
    width:20px;
    margin-right:5px;
}

.vertical-box{
    width:20vw;
    height:80vh;
    margin:10vh;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-box{
    width:auto;
}

#meu-nome{
    position: relative;
    width:auto;
}

#meu-nome::before, 
#meu-nome::after{
    content: '';
    position: absolute;
    inset: 0;
}
#meu-nome::before{
    background-color: white;
    animation: Digitador steps(16) 4s 1s forwards;
}
#meu-nome::after{
    width:0.125em;
    background-color: black;
    animation: 
        Digitador steps(16) 4s 1s forwards,
        cursor steps(16) 1s infinite;
}

.item-box{
    position: relative;
    display: flex;
    align-items: center;
    color:white;
    transition: .5s;
}
.item-img{
    width:90%;
    height:90%;
    margin:5%;
}
.item-box a div{
    text-align: center;
}   
.minhas-informacoes:hover .informacoes-frente{
    transform:perspective(1000px) rotateY(180deg)
}
.minhas-informacoes:hover .informacoes-tras{
    transform:perspective(1000px) rotateY(360deg)
}
/* Extras */
a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
}
.item-box:hover{
    box-shadow: -10px 10px  20px #101010;
}
.construcao{
    margin-top:50vh;
    margin-left:1%;
    transform: translate(0,-50%);
    position: relative;
    float: left;
    font-size: 2em;
}
@keyframes Digitador{
    to{
        left:100%;
    }
}
@keyframes cursor{
    to{
        background-color: transparent;
    }
}
@keyframes aparecerImagem{
    to{
        opacity:1;
        transform:translateY(0px);
    }
}