body, .div-fundo{
    margin:0;
    padding: 0;
    background-color: #353535;
    overflow: hidden;
}
.fundo{
    display: flex;
    align-items: center;
}
.fundo-direita{
    display: flex;
    flex-direction: column;
}
.fundo-direita div{
    font-size: 2rem;
}
.quadrado{
    user-select: none;
    box-shadow: inset 2px 2px 2px 2px rgba(255,255,255,.3),inset -2px -2px 2px 2px rgba(0,0,0,.5);
}
.minasRestantes{
    color: rgb(255, 0, 0);
}
.possiveisMinas{
    color: rgb(200, 80, 0);
}
[data-status="bandeira"]{
    background-color:rgb(255, 0, 0);
}
[data-status="meia-bandeira"]{
    background-color:rgb(200, 80, 0);
}
a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}