/* ---Tudo--- */
*{
    overflow: hidden;
}
body,.fundo{
    margin:0;
    padding:0;
}
/* ---Laterais--- */
.pontuacao{
    position: relative;
    height:100px;
    width:200px;
    color:white;
    font-size: 1.5rem;
}
.menu{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
#controles{
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}
#controles:hover {
    color: lime;
}
a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}